.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
Pull_tweets_list_2019-02-21 .csv
Pull_tweets_list_2019-02-22 .csv
Creepy_table_overview.csv
Pull_tweets_list_2019-02-24 .csv
twitter_talk.Rmd
IAMC2019.Rmd
