
img{ 
 width:80%;
 height:auto;
 margin: 10px;

}

body {
    text-align: justify}


a {font-weight: bold;}

.caption {
  font-size: 0.9em;
  font-style: italic;
  color: grey;
  margin-right: 5%;
  margin-left: 5%;  
  text-align: justify;
}

 h2, .h2, h3, .h3 {
    margin-top: 24px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #3399f3;
    border-color: #3399f3;
}