body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
}

h1, h2, h3 {
  text-align: left;
}

details {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #f9f9f9;
  border-left: 3px solid #ccc;
}

.bordered-box {
  border: 2px solid #aaa;
  padding: 10px;
  margin: 10px 0;
  background-color: #f0f8ff;
  border-radius: 10px;
}